# generic py
__pycache__/
.pytest_cache/
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.python-version
.venv/

# vendor and build files
dist/
build/
docs/_autoref/
docs/_autosummary/
docs/_build/

# local
/Makefile

data/
archive/

notebooks/color_spaces_manyview.ipynb
notebooks/oklch_srgb_spherical.ipynb
