# base settings
background = #f5f5f5
foreground = #333333

selection-background = #e4e4e4
selection-foreground = #404040

cursor-color = #404040
cursor-text = #e4e4e4

# black
palette = 0=#f5f5f5
palette = 8=#d4d4d4

# red
palette = 1=#db4b3d
palette = 9=#b62920

# green
palette = 2=#4e8757
palette = 10=#396740

# yellow
palette = 3=#7f7a42
palette = 11=#615d2f

# blue
palette = 4=#4d7ad1
palette = 12=#365da9

# magenta (red)
palette = 5=#a4672a
palette = 13=#83501b

# cyan (blue)
palette = 6=#4d7ad1
palette = 14=#365da9

# white
palette = 7=#4d4d4d
palette = 15=#333333
