# base settings
background = #2c2523
foreground = #ece2e0

selection-background = #383130
selection-foreground = #dbd2d0

cursor-color = #dbd2d0
cursor-text = #383130

# black
palette = 0=#2c2523
palette = 8=#453e3c

# red
palette = 1=#e45748
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#87c28f

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#cbc2c0
palette = 15=#ece2e0
