# base settings
background = #f6ecea
foreground = #332c2b

selection-background = #e5dbda
selection-foreground = #403837

cursor-color = #403837
cursor-text = #e5dbda

# black
palette = 0=#f6ecea
palette = 8=#d5cbca

# red
palette = 1=#ca382d
palette = 9=#a11d15

# green
palette = 2=#477d50
palette = 10=#315b38

# yellow
palette = 3=#736e3a
palette = 11=#555129

# blue
palette = 4=#436ec2
palette = 12=#2c4f93

# magenta (red)
palette = 5=#995f25
palette = 13=#714415

# cyan (blue)
palette = 6=#436ec2
palette = 14=#2c4f93

# white
palette = 7=#4d4644
palette = 15=#332c2b
