# base settings
background = #27201f
foreground = #e5dbda

selection-background = #332c2b
selection-foreground = #d5cbca

cursor-color = #d5cbca
cursor-text = #332c2b

# black
palette = 0=#27201f
palette = 8=#403837

# red
palette = 1=#e45748
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#87c28f

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#e1a772

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#c5bbba
palette = 15=#e5dbda
