# base settings
background = #26211c
foreground = #e4ddd7

selection-background = #322d28
selection-foreground = #d3ccc7

cursor-color = #d3ccc7
cursor-text = #322d28

# black
palette = 0=#26211c
palette = 8=#3f3935

# red
palette = 1=#e45748
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#87c28f

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#e1a772

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#c3bcb7
palette = 15=#e4ddd7
