# base settings
background = #f4ede7
foreground = #322d28

selection-background = #e4ddd7
selection-foreground = #3f3935

cursor-color = #3f3935
cursor-text = #e4ddd7

# black
palette = 0=#f4ede7
palette = 8=#d3ccc7

# red
palette = 1=#ca382d
palette = 9=#a11d15

# green
palette = 2=#457a4e
palette = 10=#315b38

# yellow
palette = 3=#736e3a
palette = 11=#555129

# blue
palette = 4=#436ec2
palette = 12=#2e5297

# magenta (red)
palette = 5=#995f25
palette = 13=#714415

# cyan (blue)
palette = 6=#436ec2
palette = 14=#2e5297

# white
palette = 7=#4c4642
palette = 15=#322d28
