# base settings
background = #fbf4ee
foreground = #37322d

selection-background = #eae3dd
selection-foreground = #443f3a

cursor-color = #443f3a
cursor-text = #eae3dd

# black
palette = 0=#fbf4ee
palette = 8=#dad3cd

# red
palette = 1=#d84739
palette = 9=#b2271d

# green
palette = 2=#4e8757
palette = 10=#396740

# yellow
palette = 3=#7f7a42
palette = 11=#615d2f

# blue
palette = 4=#4f7dd5
palette = 12=#365da9

# magenta (red)
palette = 5=#a4672a
palette = 13=#7f4e1a

# cyan (blue)
palette = 6=#4f7dd5
palette = 14=#365da9

# white
palette = 7=#524c47
palette = 15=#37322d
