# base settings
background = #1e231f
foreground = #d9e0da

selection-background = #2a2f2b
selection-foreground = #c9d0ca

cursor-color = #c9d0ca
cursor-text = #2a2f2b

# black
palette = 0=#1e231f
palette = 8=#373c37

# red
palette = 1=#e15344
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#8bc593

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#b9c0ba
palette = 15=#d9e0da
