# base settings
background = #232823
foreground = #e0e7e0

selection-background = #2f3430
selection-foreground = #d0d6d0

cursor-color = #d0d6d0
cursor-text = #2f3430

# black
palette = 0=#232823
palette = 8=#3c413c

# red
palette = 1=#e15344
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#8bc593

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#c0c6c0
palette = 15=#e0e7e0
