# base settings
background = #232026
foreground = #e0dce4

selection-background = #2f2c32
selection-foreground = #cfccd4

cursor-color = #cfccd4
cursor-text = #2f2c32

# black
palette = 0=#232026
palette = 8=#3c393f

# red
palette = 1=#e15344
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#87c28f

# yellow
palette = 3=#9b9555
palette = 11=#bab474

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#bfbcc3
palette = 15=#e0dce4
