# base settings
background = #f7f3fb
foreground = #343137

selection-background = #e6e3eb
selection-foreground = #413e44

cursor-color = #413e44
cursor-text = #e6e3eb

# black
palette = 0=#f7f3fb
palette = 8=#d6d2da

# red
palette = 1=#db4b3d
palette = 9=#b62920

# green
palette = 2=#4e8757
palette = 10=#3b6a42

# yellow
palette = 3=#7f7a42
palette = 11=#615d2f

# blue
palette = 4=#4d7ad1
palette = 12=#345aa4

# magenta (red)
palette = 5=#a4672a
palette = 13=#83501b

# cyan (blue)
palette = 6=#4d7ad1
palette = 14=#345aa4

# white
palette = 7=#4e4c52
palette = 15=#343137
