# base settings
background = #2b2427
foreground = #ebe2e5

selection-background = #373134
selection-foreground = #dad1d5

cursor-color = #dad1d5
cursor-text = #373134

# black
palette = 0=#2b2427
palette = 8=#453d40

# red
palette = 1=#e45748
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#87c28f

# yellow
palette = 3=#9b9555
palette = 11=#bab474

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#cac1c5
palette = 15=#ebe2e5
