# base settings
background = #f5ecef
foreground = #322c2f

selection-background = #e4dbdf
selection-foreground = #3f383b

cursor-color = #3f383b
cursor-text = #e4dbdf

# black
palette = 0=#f5ecef
palette = 8=#d4cbcf

# red
palette = 1=#ca382d
palette = 9=#a11d15

# green
palette = 2=#477d50
palette = 10=#315b38

# yellow
palette = 3=#736e3a
palette = 11=#555129

# blue
palette = 4=#436ec2
palette = 12=#2c4f93

# magenta (red)
palette = 5=#995f25
palette = 13=#714415

# cyan (blue)
palette = 6=#436ec2
palette = 14=#2c4f93

# white
palette = 7=#4d4548
palette = 15=#322c2f
