# base settings
background = #262022
foreground = #e4dbdf

selection-background = #322c2f
selection-foreground = #d4cbcf

cursor-color = #d4cbcf
cursor-text = #322c2f

# black
palette = 0=#262022
palette = 8=#3f383b

# red
palette = 1=#e45748
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#87c28f

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#c4bbbf
palette = 15=#e4dbdf
