# base settings
background = #1c2324
foreground = #d6e0e1

selection-background = #282f30
selection-foreground = #c6d0d1

cursor-color = #c6d0d1
cursor-text = #282f30

# black
palette = 0=#1c2324
palette = 8=#343c3d

# red
palette = 1=#e15344
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#8bc593

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#b6c0c1
palette = 15=#d6e0e1
