# base settings
background = #e7f1f2
foreground = #282f30

selection-background = #d6e0e1
selection-foreground = #343c3d

cursor-color = #343c3d
cursor-text = #d6e0e1

# black
palette = 0=#e7f1f2
palette = 8=#c6d0d1

# red
palette = 1=#ce3c30
palette = 9=#a51f17

# green
palette = 2=#457a4e
palette = 10=#315b38

# yellow
palette = 3=#736e3a
palette = 11=#555129

# blue
palette = 4=#436ec2
palette = 12=#2c4f93

# magenta (red)
palette = 5=#995f25
palette = 13=#744616

# cyan (blue)
palette = 6=#436ec2
palette = 14=#2c4f93

# white
palette = 7=#41494a
palette = 15=#282f30
