# base settings
background = #edf7f9
foreground = #2d3535

selection-background = #dde7e8
selection-foreground = #394142

cursor-color = #394142
cursor-text = #dde7e8

# black
palette = 0=#edf7f9
palette = 8=#ccd6d8

# red
palette = 1=#db4b3d
palette = 9=#b62920

# green
palette = 2=#4e8757
palette = 10=#396740

# yellow
palette = 3=#7f7a42
palette = 11=#615d2f

# blue
palette = 4=#4d7ad1
palette = 12=#345aa4

# magenta (red)
palette = 5=#a4672a
palette = 13=#83501b

# cyan (blue)
palette = 6=#4d7ad1
palette = 14=#345aa4

# white
palette = 7=#464f50
palette = 15=#2d3535
