# base settings
background = #22221c
foreground = #dfded6

selection-background = #2f2e28
selection-foreground = #cfcec6

cursor-color = #cfcec6
cursor-text = #2f2e28

# black
palette = 0=#22221c
palette = 8=#3b3b34

# red
palette = 1=#e45748
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#8bc593

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#8ab1f8

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#8ab1f8

# white
palette = 7=#bfbeb6
palette = 15=#dfded6
