# base settings
background = #272721
foreground = #e5e5dd

selection-background = #34332d
selection-foreground = #d5d5cd

cursor-color = #d5d5cd
cursor-text = #34332d

# black
palette = 0=#272721
palette = 8=#404039

# red
palette = 1=#e15344
palette = 9=#fa8979

# green
palette = 2=#64a46e
palette = 10=#8bc593

# yellow
palette = 3=#9e9858
palette = 11=#bdb778

# blue
palette = 4=#5e8de4
palette = 12=#86aef7

# magenta (red)
palette = 5=#c38141
palette = 13=#dfa36d

# cyan (blue)
palette = 6=#5e8de4
palette = 14=#86aef7

# white
palette = 7=#c5c5bd
palette = 15=#e5e5dd
