# base settings
background = #efefe7
foreground = #2f2e28

selection-background = #dfded6
selection-foreground = #3b3b34

cursor-color = #3b3b34
cursor-text = #dfded6

# black
palette = 0=#efefe7
palette = 8=#cfcec6

# red
palette = 1=#ce3c30
palette = 9=#a11d15

# green
palette = 2=#457a4e
palette = 10=#315b38

# yellow
palette = 3=#736e3a
palette = 11=#555129

# blue
palette = 4=#436ec2
palette = 12=#2e5297

# magenta (red)
palette = 5=#995f25
palette = 13=#714415

# cyan (blue)
palette = 6=#436ec2
palette = 14=#2e5297

# white
palette = 7=#484841
palette = 15=#2f2e28
