# base settings
background = #eaeff6
foreground = #2b2e33

selection-background = #dadee6
selection-foreground = #373b40

cursor-color = #373b40
cursor-text = #dadee6

# black
palette = 0=#eaeff6
palette = 8=#caced5

# red
palette = 1=#ce3c30
palette = 9=#a11d15

# green
palette = 2=#477d50
palette = 10=#315b38

# yellow
palette = 3=#736e3a
palette = 11=#555129

# blue
palette = 4=#406bbe
palette = 12=#2c4f93

# magenta (red)
palette = 5=#995f25
palette = 13=#744616

# cyan (blue)
palette = 6=#406bbe
palette = 14=#2c4f93

# white
palette = 7=#44484e
palette = 15=#2b2e33
