# base settings
background = #f1f5fd
foreground = #303339

selection-background = #e1e5ec
selection-foreground = #3d4046

cursor-color = #3d4046
cursor-text = #e1e5ec

# black
palette = 0=#f1f5fd
palette = 8=#d0d4dc

# red
palette = 1=#db4b3d
palette = 9=#b62920

# green
palette = 2=#4e8757
palette = 10=#396740

# yellow
palette = 3=#7f7a42
palette = 11=#615d2f

# blue
palette = 4=#4d7ad1
palette = 12=#345aa4

# magenta (red)
palette = 5=#a4672a
palette = 13=#83501b

# cyan (blue)
palette = 6=#4d7ad1
palette = 14=#345aa4

# white
palette = 7=#4a4d53
palette = 15=#303339
